body {
    background-color: #3dcada
; color: rgb(248, 244, 242);font-size: 25px;}

h1, h2 {color:rgb(30, 0, 255); text-align: center;

line-height: 1.8em; font-size: 35px;}

img {            

	border-style: solid;           
	border-color: rgb(30, 255, 0);           				
	border-width: 10px;             

}

a {color:rgba(0, 0, 0, 0.51)}


			
